.App {
  background-color: lightblue; /* Altera a cor de fundo da aplicação */
  text-align: center;           /* Centraliza o texto */
}

button {
  margin-top: 20px;             /* Adiciona uma margem ao botão */
}
